body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: rgba(204, 202, 202, 0.932);
}

.blog-header{
    width:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    box-sizing:border-box;
    margin: 5% auto;/*todos elementos n el medio*/
}
.avatar-container {
    width: 110px;/*para que sea peque*/
    align-self: center;
}

.avatar-img-border {
    width: 100%;
    border-radius: 50%;
    /*margin-left: -50%;*/
    display: inline-block;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8); /*sombreado negro*/
}

.avatar-img {
    width: 100%;
    border-radius: 50%;
    display: block;
}

h1.blog-title{
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    letter-spacing: -2px;
    outline: 0;
    line-height: 50px;
    word-break: break-word;
    color: #333;
}
h2.blog-title{
    margin: 20 0 20px;
    padding: 0 32px;
    font-size: 25px;
    line-height: 1.5;
    color: rgb(85, 84, 84);
    text-align: center;
    font-weight: 400;
    font-style: italic;
}

hr.small {
    width: 65%;
    margin: 5px auto;
    border-width: 2px;
    border-color: rgb(85, 84, 84);
    border-radius: 3px;
    font-size: 85%;
}

.fa {
    color: rgb(85, 84, 84);
    text-decoration: none;
}

.custom-links a.text{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(85, 84, 84);
    text-decoration: none;
}

.cv{
    width:60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing:border-box;
    margin: 3% auto;/*todos elementos n el medio*/
}
.cv div{
    text-align: left;
    color: #333;
}

/*Titulos CV*/
.cv-icon-title{
    width: 90px;
    padding: 0 5% 0 0;
}
.cv-titles{
    display: flex;
    flex-direction: row;
    padding: 3% 0;
}
.cv-titles h1{
    font-size: 30px;
}

/*Iconos descripciones CV*/
.cv ul{
    font-size: 23px;
}
.description{
    display: flex;
    flex-direction: row;
}
.description p {
    padding: 0 0 0 0;
}
.cv-icon{
    width: 50px;
    height: 45px;
    padding: 2% 5% 0 0;
}
.cleop{
    width: 75px;
    height: 85px;
    padding: 0 5% 0 0;
}



